.card_style{
    width: 100px;
    border-radius: 15px;
}
.job-size{
    height: 200px;
}
.card-first-half{
    height: 150px;
}
.card-second-half{
    height: 50px;
}
.card {
    border-radius: 0px;
}